[user]
    name = Ryder McMinn
	email = rdr@rdrmc.com
[core]
    pager = delta  # Better git diff
[interactive]
    diffFilter = delta --color-only
[column]
    ui = auto
[branch]
    sort = -committerdate
[push]
    autoSetupRemote = true
    followTags = true
[merge]
    conflictstyle = zdiff3
[alias]
    # Pretty git log alias
    lg = log --reverse --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative

# External tools settings
[delta]  # Better git diff
    navigate = true
    dark = true      
	side-by-side = true

# OS-specific configs
[includeIf "gitdir/i:/Users/"]
    path = ~/.gitconfig-macos

[includeIf "gitdir/i:/home/"]
    path = ~/.gitconfig-linux
